<section id="hero" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="box">
          <h3>ABOUT</h3>
          <p>Lemuria Jewels London is a bespoke jewellery atelier, founded by Tatiana Ovchinnikova in 2014.
          Influenced by family generations of jewellery-makers, Tatiana and her talented team also take
          inspiration from the legendary land of Lemuria, a utopia of rare and beautiful gemstones.  Creating
          timeless bespoke pieces that are loved by all is what motivates Lemuria’s artists.  And with potential
          to reinvent and redesign individual pieces over time, a gift from Lemuria Jewels London is genuinely the
          gift that keeps on giving...</p>
          <a ui-sref="services" class="btn btn-blue">Create your own</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="ourstory">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="box white-box box-left">
          <h3>OUR STORY</h3>
          <p>The legendary land of Lemuria was said to be a place of unparalleled beauty.  Considered the closest thing to
            paradise, Lemuria’s landscape glittered with natural gemstones and its inhabitants enjoyed a peaceful, spiritual
            existence.  When Lemuria eventually descended into the sea, its precious stones were scattered for the world to
            discover.  We at Lemuria Jewels delight in the idea of harnessing unparalleled beauty especially for you – and every
             piece of jewellery is infused with creativity and imagination unique to our team.  If you’re looking for something
             truly special and meaningful, you’ve come to the right place.</p>
          <a ui-sref="services" class="btn btn-blue">Create your own</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="box white-box box-left">
          <h3>CRAFTSMANSHIP</h3>
          <p>Our team of gemologists, artists and designers are fully-qualified in crafting exquisite,
            bespoke jewellery.  Trained to the highest standard, Lemuria designers craft pieces that are
             utterly unique to the wearer and last a lifetime.  Our team approaches all requests with the utmost
             personal care and attention, whatever your wish or design brief.  We cater to personal, group or
             corporate commissions.  Whether you’re buying an individual gift or hosting an event, you can be
             confident that our craftsmen offer expertise, imagination, passion and dedication to every client.</p>
          <a ui-sref="services" class="btn btn-blue">Create your own</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="box white-box box-left">
          <h3>OUR JEWELS</h3>
          <p>Lemuria goes to great lengths to source superior-quality gemstones and precious metals.  We aim to ensure each
            piece is personalised, breathtakingly beautiful and treasured by its owner.  And since each rare gemstone carries
            its own story, healing property or meaning, our colourful pieces offer something truly extra special to the wearer.
            Whether you want to share a simple thought or detailed design, our team of artists will craft your idea into a
            cherished, personalised piece that endures... </p>
          <a ui-sref="services" class="btn btn-blue">Create your own</a>
        </div>
      </div>
    </div>
  </div>
</section>
