<div ng-controller="GalleryController as vm">
<section id="hero" class="gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
        <div class="box">
          <h1>Gallery</h1>
          <h2>Find Inspiration</h2>
          <p>Our colourful and ready to wear ranges are inspired by female
            empowerment. Crafted with rare gemstones and precious metals,
            Lemuria pieces offer plenty of inspiration to take you from day wear
            through to night...</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="gallery-menu">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <ul class="list-inline">
            <li><a ng-click="vm.init()">All</a></li>
            <li><a ng-click="vm.selected = vm.gallery.birthstones">Birthstones</a></li>
            <li><a ng-click="vm.selected = vm.gallery.elements">Elements</a></li>
            <li><a ng-click="vm.selected = vm.gallery.enimga">Enigma</a></li>
            <li><a ng-click="vm.selected = vm.gallery.lemuria">Lemuria</a></li>
          </ul>
        </div>
    </div>
  </div>
</section> -->
<section class="gallery-masonary">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7">
        <div class="gallery-thumb">
          <img src="assets/images/gallery_thumb_1.jpg" />
          <div class="gallery-caption">
            <h3>Enigma</h3>
            <h4>Headline Here</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-5">
        <div class="gallery-thumb">
          <img src="assets/images/gallery_thumb_2.jpg" />
          <div class="gallery-caption">
            <h3>Birthstones</h3>
            <h4>Headline Here</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-5">
        <div class="gallery-thumb">
          <img src="assets/images/gallery_thumb_3.jpg" />
          <div class="gallery-caption">
            <h3>Enigma</h3>
            <h4>Headline Here</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="gallery-thumb">
          <img src="assets/images/gallery_thumb_4.jpg" />
          <div class="gallery-caption">
            <h3>Enigma</h3>
            <h4>Headline Here</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="gallery-thumb">
          <img src="assets/images/gallery_thumb_5.jpg" />
          <div class="gallery-caption">
            <h3>Enigma</h3>
            <h4>Headline Here</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-5">
        <div class="gallery-thumb">
          <img src="assets/images/gallery_thumb_6.jpg" />
          <div class="gallery-caption">
            <h3>Birthstones</h3>
            <h4>Headline Here</h4>
          </div>
        </div>
        <div class="gallery-thumb">
          <img src="assets/images/gallery_thumb_7.jpg	" />
          <div class="gallery-caption">
            <h3>Enigma</h3>
            <h4>Headline Here</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-7">
        <div class="gallery-thumb">
          <img src="assets/images/gallery_thumb_8.jpg" />
          <div class="gallery-caption">
            <h3>Enigma</h3>
            <h4>Headline Here</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
