section#contact {
    background: #0fb4ba;
    color: white;
    text-align: center;
    padding: 30px;
}

section#form {
    background: #f1f1ef;
    padding: 50px 0;
}

section#form input.form-control {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgb(147, 147, 145);
}

section#form button {
    border-radius: 0;
}
section#form .form-group {
    text-align: left;
}
section#form .form-group label {
    text-align: left;
    font-weight: 400;
}
section#form textarea.form-control {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #939391;
    color: #121212;
    min-height: 120px;
}
.error.messages {
    position: absolute;
    right: 10px;
    color: darkred;
    text-align: right;
    font-size: 10px;
    top: 30px;
}
