<section id="faqs">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>FAQs</h1>
        <ol>
          <li>
            I’m ordering a gift – can I include a message or gift receipt?
            <div>You can include a personal message with all of our products!  Simply upload your text during the ordering process.  The message will then be included on a small card inside the jewellery box.  Unfortunately we do not offer gift receipts but you can request that the receipt is sent to the billing address (?).</div>
          </li>
          <li>
            2.	Can I change my mind once I’ve placed an order?
            <div>Unfortunately, because our products are made to order, your purchase can not be changed once you have made a payment.  However, if you are concerned about your order, please contact us immediately to discuss your requirements.</div>
          </li>
          <li>
            3.	How long will delivery take?
            <div>Due to the craftsmanship involved in creating Lemuria jewellery, each piece takes 4 weeks to design and manufacture.  All products are dispatched via Royal Mail which can take up to 7 working days within the UK.  Alternatively, you can request delivery via courier 9(and request your preferred delivery time).  We will always send you a tracking number to monitor the status of your order.</div>
          </li>
          <li>
            4.	Is there a recommended way to take care of my jewellery?
            <div>The simple answer is yes!  Natural gemstones can be sensitive to many different things including direct sunlight, chemicals and high temperatures.  Every gemstone has a different method of care so please refer to your bespoke Care Instructions, included within the purchase.</div>
          </li>
          <li>
            5.	How can I get access to future discounts and offers?
            <div>We believe in treating our loyal customers to discounts and offers which can be accessed across our Facebook, Twitter and Instagram activity.  We’re constantly updating our pages with new products, discounts, treats and news so please Like and follow us to reap your rewards!</div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
