<section id="hero" class="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 text-center">
        <h2>A place of intrigue, inspiration<br>and enduring beauty</h2>
        <p>At Lemuria Jewels, our team of gemologists and artists work with you to create perfect and personalised pieces of jewellery that are precious in every sense of the word.</p>
        <a ui-sref="about" class="btn btn-blue-filled">Discover</a>
      </div>
    </div>
  </div>
</section>
<section id="gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 text-center">
        <h3>Elegant and timeless jewellery</h3>
        <p class="grey">Each exquisite piece of Lemuria jewellery is inspired by and designed for you.  Assisted by our artistic team, your Lemuria jewellery is thoughtfully and carefully crafted in a way that also aims to inspire generations to follow.  Why not begin your journey and create something truly unique and enduring here…?</p>
        <h3>Find Inspiration</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <img src="assets/images/feature1.jpg" />
        <img src="assets/images/feature2.jpg" />
      </div>
      <div class="col-lg-4 col-md-4">
        <img src="assets/images/feature3.jpg" />
        <img src="assets/images/feature4.jpg" />
      </div>
      <div class="col-lg-4 col-md-4">
        <img src="assets/images/feature5.jpg" />
        <a  ui-sref="gallery" class="view-gallery">
          <img src="assets/images/feature6.jpg" />
          <span>View Gallery</span>
        </a>s
      </div>
    </div>
  </div>
</section>
<section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="box white-box pull-right text-center">
            <h3>Harness the beauty of natural stones</h3>
            <p class="grey">Our collections feature only the most precious stones that are rich in colour and natural beauty.  With a stunning choice of vibrant, ethically-sourced birth stones, you can create a personal piece that is meaningful and magnificent in equal measure.</p>
            <a ui-sref="services" class="btn btn-blue">Create your own</a>
          </div>
        </div>
      </div>
    </div>
</section>
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="box white-box pull-left text-center">
          <h3>Our Story</h3>
          <p class="grey">Lemuria Jewels London is a bespoke jewellery atelier, creating timeless bespoke pieces. And since our expert aterlier brings to life your vision using only the most enduringly beautiful, natural stones, every piece of Lemuria jewellery is as original, elegant and timeless as its owner.</p>
          <a ui-sref="about" class="btn btn-blue">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>
