<section id="terms">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>TERMS &amp; CONDITIONS</h1>
        <h3>Jewellery Security:</h3>
        <p>We at Lemuria Jewels pride ourselves on delivering a safe, trustworthy and reliable service. Every one of our reputable suppliers is carefully-selected for upholding exceptionally high standards of customer service.  We take the safety and security of your jewellery very seriously and use a reputable delivery company for all services.  However, if you have a preferred service provider, we will happily comply with your request.</p>
        <p>However, it is important to highlight the fact that accidental loss or damage to jewellery can occur.  While we do not accept responsibility for accidental loss and damage in transit, we acknowledge the fact that loss or damage is always a risk during some of our Services e.g. repairs or engraving.</p>
        <p>It is also worth noting that we strongly recommend you take out independent insurance cover for particularly valuable pieces of jewellery.</p>
        <h3>Availability and ordering policy:</h3>
        <p>For jewellery pieces across Lemuria Collections, please expect shipment time of up to 1 week.  Made-to-order items – or if the Lemuria piece is out of stock, please expect shipment to take up to 4 weeks.  We strive to fulfil your order in a timely manner but because all our products are handmade, please be aware of this production time.</p>
        <p>Once your order is complete and payment is received, your invoice will be emailed to you. Please note: if you’re a first-time customer, contact e-mails may appear in your Junk folder.</p>
        <p>We appreciate your support of our products.  Should any issues arise with your order, we will immediately contact you and work hard to resolve them.</p>
        <p>Any gold and silver items you see on Lemuria Jewels’ official Instagram, Facebook and Twitter pages are available to buy. If you can’t find something on our website, contact us on <a href="mailto:customerservice@lemuriajewels.com">customerservice@lemuriajewels.com</a></p>
        <h3>Shipping:</h3>
        <p>Paying for expedited shipping does not mean that you will receive your goods the next day. See our Availability &amp; Ordering Policy for more information on ordering times.</p>
        <p>Our customers’ satisfaction is important to us. If you need your order by a specific date, email <a href="mailto:customerservice@lemuriajewels.com">customerservice@lemuriajewels.com</a> and we will do our best to accommodate your request.</p>
        <p>We insure shipments on all orders. For legal purposes, the value of your shipment is non-negotiable and must directly reflect the cost of the jewellery. For insurance purposes, all orders require a signature upon delivery.</p>
        <p>Luxury or premium packages are normally shipped via a reputable delivery company but if you have a preferred courier – eg. FedEx, UPS, TNT – we will be happy to accommodate you.</p>
        <p><b>PLEASE NOTE:</b> Customs procedures can delay shipment time.  If you have requested a specific delivery provider, please refer to their specific Terms &amp; Conditions.</p>
        <p>Occasionally parcels are marked delivered but not received by the customer. This mostly happens when items are posted to work addresses and someone else has signed for them. Please note we cannot refund or replace items that have been delivered. This is why we recommend having jewellery delivered to your home address.</p>
        <p>When your order is ready to ship, you will receive an automated email which will include your tracking number.</p>
        <h3>International shipping:</h3>
        <p>For international orders, please note that the customer is responsible for any tax, duty or customs fees. We cannot calculate this fee as it varies in each country.</p>
        <p>If you are having trouble placing your order, or want to know when you can expect delivery, please email <a href="mailto:customerservice@lemuriajewels.com">customerservice@lemuriajewels.com</a>. We will do everything we can to help you.</p>
        <p>We aim to make our products available globally, but unfortunately we cannot currently ship to all countries. If you are having trouble placing your order, or would like more information about which countries we can and can’t ship to, please email <a href="mailto:customerservice@lemuriajewels.com">customerservice@lemuriajewels.com</a>.</p>
        <h3>Care tips:</h3>
        <p>We want you to enjoy your jewellery for a lifetime, so please follow our care instructions. We recommend removing jewellery before hand-washing, swimming, bathing, or using household cleaning products. Store your jewellery in a velvet-lined box or pouch to prevent scratches.   Visit our specialist Services – Cleaning section or Gem Guide for individual gemstone care guidance.</p>
        <h3>Returns, repairs and re-sizing</h3>
        <p>The Lemuria Jewels team strives for great service – we want all our customers to be happy with their purchase.</p>
        <p>We will endeavour to repair or resize any piece of jewellery – even if it hasn’t been purchased from Lemuria Jewels.</p>
        <p>In the case of Lemuria pieces that are made-to-order, we do not accept returns unless the item is defective or requires repair.  If your piece is damaged or defective, please email <a href="mailto:customerservice@lemuriajewels.com">customerservice@lemuriajewels.com</a> for a repair authorisation within 48 hours of receiving your order. We understand there are circumstances that may exceed the 48-hour window and will work with customers to accommodate requests.</p>
        <p>Lemuria Jewels is not responsible for items lost or damaged in transit.  When returning a package to us, please include your name and order number. We do not refund shipping costs on return items.
        <p>Our rings are standard UK sizes. For size conversions, see the ring size link on our homepage.</p>
        <p><b>Special orders:</b> unfortunately personalised or custom-made pieces cannot be returned unless the item is damaged or we processed your order with an error.</p>
        <h3>Payment</h3>
        <p>We accept PayPal, as well as all major credit cards.</p>
        <h3>Cancellations</h3>
        <p>You have a 24-hour window in which to cancel your order. Each piece is hand-made and many are custom pieces: once the production process starts, it cannot be cancelled.</p>
      </div>
    </div>
  </div>
</section>
