<section id="hero" class="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="box">
          <h3>SERVICES</h3>
          <p>With Lemuria Jewels London, it’s incredibly simple to create a simply elegant piece…</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services-lists">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="assets/images/service_your_vision.jpg" />
        <div class="card">
          <h3>Step 1 – Your Vision</h3>
          <p>We welcome the opportunity to introduce you to our artistic team of designers who will help you articulate your vision and bring your precious piece to life through sketches and ideas. Even if you’re not exactly sure what you want, our professional team is adept at gleaning details to design a timeless piece of jewellery, especially for you.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="assets/images/service_discover_and_draw.jpg" />
        <div class="card">
          <h3>Step 2 - Discover &amp; Draw</h3>
          <p>You discover what’s possible thanks to our delicately-drawn proposals and options for design.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="assets/images/service_select_gemstone.jpg" />
        <div class="card">
          <h3>Step 3 - Select your Gemstones</h3>
          <p>We make it a personal mission and joy to help you select the most beautiful stones for your bespoke piece.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="assets/images/service_define_refine.jpg" />
        <div class="card">
          <h3>Step 4 - Design &amp; Refine</h3>
          <p>Together we finalise and confirm your desired design and price before we proceed to craftsmanship.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="assets/images/service_the_artilier_shop.jpg" />
        <div class="card">
          <h3>Step 5 – The Atelier Stage</h3>
          <p>Lemuria’s workshop works its magic and transformed into a precious jewel.  Every piece is produced by professional jewellers based in Hatton Garden.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="assets/images/service_final_frame.jpg" />
        <div class="card">
          <h3>Step 6 – Final Frame</h3>
          <p>Once your personalised Lemuria Jewels piece is complete, there is the option of having the jewel photographed by our professional team.  We also provide a certificate of authenticity – after all, pieces this precious deserve to be protected.</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
